@import url(https://fonts.googleapis.com/css?family=Roboto:300);


html, body {
    width:100%;
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(#F3DA36, #D4741E);
    height: 100%;
    width: 100%;
  font-family: source Sans;

}


.logo {
  width:100%;
}

form {
  display: inline-block;
}

.marketing-center {
  margin: auto;
}

.marketing-page {

  padding: 1% 0 0;
  margin: auto;
  color:#fff;
  font-weight: 100;
  text-align: center;
  padding-bottom: 1rem;
}

.marketing-login-button{
    border-style: none;
    font-weight: 200;
    font-size: 1.1rem;
    color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 1rem 1.5rem;
    margin: 30px 5px;
    border-radius: 3px;
}
.background-green {
    background-color: #9CCE2C;
}
.background-blue {
    background-color: #2196F3;
}
.marketing-headline {
  font-size: 2.5rem;
  padding:1rem 0 2rem;
  font-weight: 100;
}
.marketing-bullets {
  font-size: 1.5rem;
  font-weight: 300;
}
